nav
 display: flex
 justify-content: space-between
 background-color: rgba(255,255,255,.5) 

 a
     text-decoration: none
     color: $black
     margin-left: 40px
 

.logo 
    
    h1
    margin: 0 0 0 30px


.linkcont
    margin-right: 10%
    display: flex
    justify-content: center
    align-items: center
    @media only screen and (max-width: 780px)
        margin-right: 1%
            